In [20]:
import numpy as np
import pandas as pd

In [24]:
# Player stats (batting)
players = pd.DataFrame({
    "Player": ["Rohit", "Kohli", "Dhoni", "Hardik"],
    "Matches": [200, 250, 350, 100],
    "Runs": [9500, 12000, 10500, 2500],
    "Balls": [10200, 12500, 11000, 2800]
})
players

   Player  Matches   Runs  Balls
0   Rohit      200   9500  10200
1   Kohli      250  12000  12500
2   Dhoni      350  10500  11000
3  Hardik      100   2500   2800

In [26]:
# Match stats (team-level)
matches = pd.DataFrame({
    "MatchID": [1, 2, 3, 4],
    "Opponent": ["AUS", "ENG", "PAK", "NZ"],
    "Result": ["Win", "Loss", "Win", "Win"]
})
matches

   MatchID Opponent Result
0        1      AUS    Win
1        2      ENG   Loss
2        3      PAK    Win
3        4       NZ    Win

In [30]:
# Strike Rate = (Runs / Balls) * 100
players["StrikeRate"] = np.round(players["Runs"] / players["Balls"] * 100,2)
players

   Player  Matches   Runs  Balls  StrikeRate
0   Rohit      200   9500  10200       93.14
1   Kohli      250  12000  12500       96.00
2   Dhoni      350  10500  11000       95.45
3  Hardik      100   2500   2800       89.29

In [33]:
# Batting Average = Runs / Matches
players["Average"] = np.round(players["Runs"] / players["Matches"])
players

   Player  Matches   Runs  Balls  StrikeRate  Average
0   Rohit      200   9500  10200       93.14     48.0
1   Kohli      250  12000  12500       96.00     48.0
2   Dhoni      350  10500  11000       95.45     30.0
3  Hardik      100   2500   2800       89.29     25.0

In [36]:
# total matches
total_matches = len(matches)
total_matches

4

In [39]:
# win count
win_count = np.sum(matches["Result"] == "Win")
win_count

np.int64(3)

In [ ]:
# win percentage
win_percentage = (win_count/total_matches) * 100
win_percentage

np.float64(75.0)